
ion-page{
    --background:linear-gradient(180deg, #000000 41.15%, #7200E3 100%);
}
.toolbar2{
    border-bottom:0.1px solid white;
    display: flex;
    padding:0;
}

.toolbar{
    display:flex;
    justify-content: space-between;
    width:100%;

}
.titulo{
    display:flex;
    width:55%;
}

.titulo img{
    width:75%;
}

.icones{
    display:flex;
}

.categoria{
    display: flex;
    justify-content: space-between;
    margin:4%;
    border-top:0.1px solid white;
}

.dinheiro {
    width:250%;
    height:200%
}

.imgs_propaganda{
    display:flex;
    justify-content:space-evenly;
    margin:5%;
    
    
}

.swiper-slide{
    display: inline;
    margin-top:0;
    
}

.swiper-slide img {
    max-height: 95%;
    max-width: 95%;
    margin:2%;
    border:1px solid gray;
}

h2,h3,h4{
    color:white;
}

h2{
    margin-left:2%;

}

.settings, .sidemenu{
    color:white;

}

.verTodos{
    background-color: white;
    color:black;
    margin:0;
    padding:2%;
    border-radius:10px;
    height:80%;
    margin-top:3%;
    
}

.sapiens{
    width:80%;
    margin-left:4%;
    margin-bottom:3%;
}
.sapiens img{
    width:100%;
}

.sapiens h4{
    margin:0;
}

.orgSapiens{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}