<ion-header>
  <ion-toolbar>

    <div class ="toolbar2">
        <ion-buttons slot="start">
          <ion-menu-button class="sidemenu"></ion-menu-button>
        </ion-buttons>  
      
        
      <div class ="toolbar">
        <div class ="titulo">
          <img src="../../assets/icon/liber_logo.png">
        </div>
          
        <div class="icones">
          <ion-buttons slot="primary">
            <ion-button class ="dinheiro">
              <img src="../../assets/icon/Sem título.png">
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button>
              <ion-icon class="settings" name="settings-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
  </div>
    
  
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="imgs_propaganda">
      <ion-slides>
        <ion-slide><img src="../../assets/icon/mazerunner.jpg"></ion-slide>
        <ion-slide><img src="../../assets/icon/mazerunner.jpg"></ion-slide>
        <ion-slide><img src="../../assets/icon/mazerunner.jpg"></ion-slide>
      </ion-slides>
    </div>

  <div class ="categoria">  
    <h2>Mais Vendidos:</h2>
    <h4 class = "verTodos">Ver Todos</h4>
  </div>
  <div class="orgSapiens">
    <div class="sapiens">
     <img src="../../assets/icon/sapiens.jpg">
     <h4>Sapiens</h4>
     <h4>$40.00</h4>
   </div>
   <div class="sapiens">
     <img src="../../assets/icon/sapiens.jpg">
     <h4>Sapiens</h4>
     <h4>$40.00</h4>
   </div>
   <div class="sapiens">
     <img src="../../assets/icon/sapiens.jpg">
     <h4>Sapiens</h4>
     <h4>$40.00</h4>
   </div>
 </div>
    <h2>Categorias mais famosas</h2>
  
  <div class ="categoria">
      <h3>Ação:</h3>
      <h4 class = "verTodos">Ver Todos</h4>
  </div>
  <div class="orgSapiens">
     <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
  </div>
    
  <div class ="categoria">
    <h3>Aventura</h3>
    <h4 class = "verTodos">Ver Todos</h4>
  </div>
  <div class="orgSapiens">
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
  </div>
  
  </div>
  <div class ="categoria">
    <h3>Romance:</h3>
    <h4 class = "verTodos">Ver Todos</h4>
  </div> 
  <div class="orgSapiens">
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
  </div>
  <div class ="categoria">  
    <h3>Economia:</h3>
    <h4 class = "verTodos">Ver Todos</h4>
  </div> 
  <div class="orgSapiens">
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
    <div class="sapiens">
      <img src="../../assets/icon/sapiens.jpg">
      <h4>Sapiens</h4>
      <h4>$40.00</h4>
    </div>
  </div>
</ion-content> 
