<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "ion-padding">

    <form [formGroup] ="registerForm" (ngSubmit) = "submitForm(registerForm)">
      <ion-list>
        <ion-item>
          <ion-input placeholder="Nome de usuário" type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="danger" shape="round"> Cadastra-se</ion-button>
      </ion-row>

      
    </form>

  </div>
</ion-content>
