<ion-header>
  <ion-toolbar>

    <div class ="toolbar2">
        <ion-buttons slot="start">
          <ion-menu-button class="sidemenu"></ion-menu-button>
        </ion-buttons>  
        
      <div class ="toolbar">
        <div class ="titulo">
          <img src="../../assets/icon/liber_logo.png">
        </div>
          
        <div class="icones">
          <ion-buttons slot="primary">
            <ion-button class ="dinheiro">
              <img src="../../assets/icon/Sem título.png">
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button>
              <ion-icon class="settings" name="settings-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header class="cardHeader">
      
      <div class = "titulos">
        <ion-card-title> 
          {{livros[0].title}}
        </ion-card-title>
        <ion-card-subtitle> {{livros[0].subtitle}} </ion-card-subtitle>
      </div>

      <ion-button class="fechar">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button> 

    </ion-card-header>

    <img id="capa" src="{{livros[0].img}}"/>

    <div class="alinhar">    
      <ion-item lines="none" class="caracteristicas">
        <ion-label>Por: {{livros[0].author}}</ion-label>
      </ion-item>

      <ion-item lines="none" id="favorito">
        <ion-icon name={{iconeFavoritos}} size="large" color="tertiary" (click)="adicionarFavorito('livro')"></ion-icon>
      </ion-item>
    </div>

    <ion-item lines="none" class="caracteristicas">
      <ion-label>Categorias: {{livros[0].category[0]}}</ion-label>
    </ion-item>
    
    <ion-item lines="none" class="caracteristicas">
      <ion-label>Avaliação: {{livros[0].rating}} de 5</ion-label>
    </ion-item>

    <ion-item lines="none" class="comprar">
      <ion-label>R${{livros[0].price}}.00</ion-label>
      <ion-button class="botaoComprar" (click)="alerta()" fill="outline" slot="end">COMPRAR</ion-button>
    </ion-item>
    
    
      
      <div class="descricao">
        <ion-item lines="none" id="descriTitulo">
          Descrição:
        </ion-item>
        <ion-item lines="none" id="descriTexto">
          {{livros[0].description}}
        </ion-item>
      </div>



    <ion-item lines="none">
      <div class ="recomendacao">
        <h4>Livros que você talvez goste:</h4>
        <ion-chip>Ver todos</ion-chip>
      </div>
    </ion-item>
      <div class="orgSapiens">
        <div class="sapiens">
          <img src="../../assets/icon/sapiens.jpg">
          <h4>Sapiens</h4>
          <h4>$40.00</h4>
        </div>
        <div class="sapiens">
          <img src="../../assets/icon/sapiens.jpg">
          <h4>Sapiens</h4>
          <h4>$40.00</h4>
        </div>
        <div class="sapiens">
          <img src="../../assets/icon/sapiens.jpg">
          <h4>Sapiens</h4>
          <h4>$40.00</h4>
        </div>
      </div>

    <ion-item lines="none">
      <ion-button class="comentario" size="default" expand="block">Comentários</ion-button>
    </ion-item>


  </ion-card>
</ion-content>
