.toolbar2{
    border-bottom:0.1px solid white;
    display: flex;
    padding:0;
}

.toolbar{
    display:flex;
    justify-content: space-between;
    width:100%;

}
.titulo{
    display:flex;
    width:55%;
}

.titulo img{
    width:75%;
}

.icones{
    display:flex;
}

.cardHeader{
    display:flex;
}

.titulos{
    display:flex;
    flex-direction: column;
}

.fechar{
    --background: #101010;
    color:#FBFBFB;
}

#capa{
    margin-left:21%;
    margin-right:13%;
    width:55%;
}

#favorito{
    margin-left:5%;
    margin-right:5%;
}

.alinhar{
    display: flex;
    justify-content:space-between;
}

#preco{
    display:inline;
}

ion-item{
    --background:#101010;
}

ion-card{
    --background: #101010;
    border:2px groove #474747;
    
}

ion-card-title{
    color:#FBFBFB;
}

ion-card-subtitle{
    color:#C7C7C7;
}

.caracteristicas{
    color:#FBFBFB;
}

.comprar{
    color:#FBFBFB;
}

.botaoComprar{
    --background:#6100C2;
    color:white;
    border-color:white;
    width:30%;
    height:80%;
    margin-bottom:3%;
}

#descriTitulo{
    color:#FBFBFB;
    border-top:0.1px solid white;
}

#descriTexto{
    color:#FBFBFB;
    border-bottom:0.1px solid white;
    padding-bottom:5%;
}

.recomendacao{
    display:flex;
    color:#FBFBFB;
    align-items:center;
    justify-content: space-around;
}

ion-chip{
    --background:#FBFBFB;
    width:35%;
    padding-left:5%;
}

.orgSapiens{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sapiens{
    margin-left:4%;
    margin-bottom:3%;
    color:#FBFBFB;
}

.sapiens img{
    margin-top:10%;
    width:100%;
}

.sapiens h4{
    margin:0;
}

.comentario{
    --background:#FBFBFB;
    margin-left:28%;
    margin-bottom:8%;
    margin-top:5%;
}
